.team {
}

.team-counters {
    margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.team-counter {
}

.modifier-buttons {
}

.modifier-button {
    margin: 3px;
}
