html {
    background-color: #fff;
}

.game-header-row {
}

.game-header-panel {
    border-color: #5cb85c;
}

.game-header-panel > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
    height: auto;
}

.game-header-panel > .panel-footer {
    border: solid 1px;
    border-color: #5cb85c;
}

.team {
}

.team-counters {
    margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.team-counter {
}

.modifier-buttons {
}

.modifier-button {
    margin: 3px;
}

.panel-heading h4 {
    display: inline-block;
}

.table-cell {
    display: table-cell;
    height: 100%;
}

.table-cell button {
    vertical-align: center;
}
